

.production__title {
	padding-bottom: 100px;
}

.production__slider {
	width: 442px;
	height: 550px;
	margin: 0px auto;
}
/*
@media (min-width: 1200px) {
	.production__slider {
		display: none;
	}
}*/

